@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


/*MAIN*/
*{
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:500;
    box-sizing:border-box;
    color:#252525;
    
}

header, footer{
    background:#f5f5f5;
}

    header{
        max-height:116px;
        height:116px;
        font-size:16px;
        padding-left: 150px;
        padding-top:40px;
    }
        h1{
            font-size: 25px;
        }
    footer{
        text-align:center;
        max-height:130px;
        height:130px;
        font-size:16px;
        padding-top:50px;
    }
    button{
        background: white;
        padding:5px;
        font-weight:bold;
        border-radius:10px;
    }
        #prev{
            display: none;
        }
        #next{
            display: none;
        }
        #page{
            display:none;
        }

#load{
    position:fixed;
    top:40%;
    left: calc(50% - 100px);
    visibility:hidden;
    z-index:3;
    background:rgba(50,50,50,0.4);
    width:200px;
    height:50px;
    text-align:center;
    font-size:40px;
    border-radius:20px;
    font-family:Tahoma;
    color:white;
}

/*CONTENT*/

.container{
    /*max-width:1440px;*/
    margin:0 auto;
    text-align:center;
}

.card{
    display:inline-block;
    width:25%;
    max-height:355px;
    height:355px;
    padding:0 30px;
    background: white;
    border:1px solid #e8e8e8;
    text-align: left;
}


    .card img{
        margin-top:30px;
        margin-bottom:16px;
        width:calc(100% - 0px);
        height:200px;
    }

        .route{
            font-size:13px;
            margin-bottom:4px;
            min-height:19px;
        }
        .settle{
            font-size:21px;
            margin-bottom:18px;
            min-height:30px;
        }
        .info{
            font-size:14px;
            display:inline-block;
            margin-right:15px;
        }
        .border{
            border-right:1px solid #e8e8e8;
            height:10px;
            width:100%;
        }
        .space{
           padding-right: 15px; 
        }

@media /*не забыть */