@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


/*MAIN*/
* {
    margin:0;
    padding:0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight:500;
    box-sizing:border-box;
    color:#252525;
}
header, footer{
    text-align:center;
    background:#f5f5f5;
    padding:30px;
    border:1px solid #fbfbfb;
}
    header{
        max-height:116px;
        height:116px;
        font-size:16px;
    }
    footer{
        max-height:130px;
        height:130px;
        font-size:16px;
        padding-top:50px;
    }
        button{
                background: white;    
                padding:5px;
                font-weight:bold;
                border-radius:10px;
        }
            #prev{
                display: none;
            }
            #next{
                display: none;
            }
            #page{
                display: none;
            }

    #load{
        position:fixed;
        top:40%;
        left: calc(50% - 100px);
        visibility:hidden;
        z-index:3;
        background:rgba(50,50,50,0.4);
        width:200px;
        height:50px;
        text-align:center;
        font-size:40px;
        border-radius:20px;
        font-family:Tahoma;
        color:white;
    }

/*CONTENT*/ 

.container{
    max-width:1440px;
    margin:0 auto;
    text-align:center;
}

.card{
    display:inline-table;
    width:360px;
    height:350px;
    max-height:350px;
    padding:0 30px 0 30px;
    background: white;
    font-size:10px;
    text-align:center;
    z-index:1;
    border:1px solid #f5f5f5;
    border-collapse: collapse;
}

.card img{
    margin-top:30px;
    width:300px;
    height:200px;
}

.route{
    font-size:13px;
}
.settle{
    font-size:22px;
}
.info{
    font-size:13px;
    display:inline;
    margin: 0 5px;
}